* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: #222;
}
header {
  @include outer-container(1300px);
  padding: 30px 10px 0px 10px;
  background: rgb(15, 26, 27);
}
.wrap {
  @include outer-container(1300px);
  border-top: 1px solid lightgrey;
  padding: 30px 10px 0px 10px;
}
.row {
  @include span-columns(12);
  height: 450px;
  @media screen and #{$lrg-break} {
    height: 820px;
  }
  @media screen and #{$md-break} {
    height: 1600px;
  }
}
.module {
  @include span-columns(3 of 12);
  height: 400px;
  padding: 15px;
  position: relative;
  @media screen and #{$lrg-break} {
    @include span-columns(6 of 12);
    margin: 0.59%;
  }
  @media screen and #{$md-break} {
    @include span-columns(12 of 12);
    margin: 0;
  }
}
