* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  @include linear-gradient(50deg, #1c1a1a 0%, #303436 40%, #303436 41%, #1c1a1a 100%);
}
header {
  @extend %container;
  @include linear-gradient(50deg, #101518 0%, #2f3a42 60%, #2f3a42 61%, #101518 100%);
}
.wrap {
  @extend %container;
  border-top: 1px solid $light-text;
}
.row {
  @include span-columns(12);
  height: 450px;
  @media screen and #{$lrg-break} {
    height: 820px;
  }
  @media screen and #{$md-break} {
    height: 1600px;
  }
}
.module {
  @include span-columns(3 of 12);
  overflow: auto;
  border-radius: 10px;
  height: 400px;
  padding: 15px;
  position: relative;
  @media screen and #{$lrg-break} {
    @include span-columns(6 of 12);
    margin: 0.59%;
  }
  @media screen and #{$md-break} {
    @include span-columns(12 of 12);
    margin: 0;
    border-radius: 0px;
  }
}
// hides and shows answers
.show {
  display: none;
}
.hide {
  .question, .answer {
    display: none;
  }
  .show {
    display: block;
  }
}
