img {
  max-width: 100%;
}
// =============MODULE IMAGE STYLING=============
.module {
  img {
    position: relative;
    z-index: 1;
    border: 1px solid white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: top center;
    @media screen and #{$lrg-break} {
      width: 70%;
      height: 200px;
    }
  }
}
@include background-img(melisandre, $melisandre);
@include background-img(sansa, $sansa);
@include background-img(arya, $arya);
@include background-img(jon, $jon);
@include background-img(stannis, $stannis);
@include background-img(cersei, $cersei);
@include background-img(jaime, $jaime);
@include background-img(tyrion, $tyrion);
@include background-img(daenerys, $daenerys);
@include background-img(jorah, $jorah);
@include background-img(sandor, $sandor);
@include background-img(petyr, $petyr);

// =============HEADER IMAGE STYLING=============
header {
  img {
    width: 400px;
  }
}
