img {
  max-width: 100%;
}
// =============MODULE IMAGE STYLING=============
.module {
  img {
    position: relative;
    z-index: 1;
    border: 1px solid white;
    @extend %center;
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: top center;
    @media screen and #{$lrg-break} {
      width: 70%;
      height: 200px;
    }
  }
}
//GOT start
@include background-img(melisandre $melisandre, sansa $sansa, arya $arya, jon $jon, stannis $stannis, cersei $cersei, jaime $jaime, tyrion $tyrion, daenerys $daenerys, jorah $jorah, sandor $sandor, petyr $petyr);
//LOTR start
@include background-img(aragorn $stannis, gimli $jon, arwen $jaime, legolas $jorah, gandalf $daenerys, frodo $jorah, gollum $sandor, eowyn $petyr, sam $sansa, boromir $jaime, merry $arya, pippin $jon);

// =============HEADER IMAGE STYLING=============
header {
  img {
    width: 400px;
    opacity: 1;
    @include transition(opacity 300ms ease-in 0s);
    @media screen and #{$lrg-break} {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }
}
