.links {
  i {
    margin-left: -60px;
    padding-left: 5px;
  }
  a {
    text-decoration: none;
    color: $dark-text;
  }
  li {
    font-weight: 700;
    list-style: none;
    color: $dark-text;
    font-family: 'Cormorant Garamond', serif;
    &:hover > a {
      color: $light-text;
    }
    &:first-child {
      font-weight: 300;
    }
  }
}
.module {
  h1 {
    position: relative;
    z-index: 1;
    margin: 15px 0;
    font-size: 1.2em;
    color: $light-text;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
    }
  }
  p {
    position: relative;
    z-index: 1;
    color: $light-text;
    font-family: 'PT Sans', sans-serif;
    padding: 0 8px;
    margin: 15px 0;
    text-align: center;
  }
}
