// container dimensions
%container {
  @include outer-container(1300px);
  padding: 30px 10px 0px 10px;
}

// center postioning
%center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

%center-positioned {
  left: 50%;
  transform: translate(-50%, 0);
}
%center-positionedY {
  top: 50%;
  transform: translate(0, -50%);
}

// buton styling

%button {
  position: relative;
  z-index: 2;
  background: $button-color;
  border: 1px solid $light-text;
  outline: none;
  width: 130px;
  height: 40px;
  font-size: 1em;
  font-family: 'Cormorant Garamond', serif;
  color: $dark-text;
  font-weight: 700;
  text-transform: uppercase;
  @extend %center-positioned;
  &:hover {
    cursor: pointer;
  }
}
