// color variables
$dark-text: #444;
$light-text: white;
$melisandre: firebrick;
$arya: darkslategray;
$sansa: lightblue;
$jon: grey;
$stannis: rgb(24, 62, 70);
$cersei: darkgoldenrod;
$jaime: rgb(65, 25, 26);
$tyrion: rgb(38, 21, 66);
$daenerys: rgb(135, 133, 111);
$jorah: rgb(6, 48, 31);
$sandor: rgb(47, 53, 56);
$petyr: rgb(12, 19, 60);



// media queries
$lrg-break: '(max-width: 1100px)';
$md-break: '(max-width: 650px)';
